body {
    background-color: rgb(237, 237, 237);
}

.nav {
    display:flex;
    width:99%;
    height:10vh;
}

.navtext, .text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text {
    margin-left: 1%;
    font-size:1.2vw;
}

.navtext {
    font-size:1.6vw;
}

.view, .navtext, .viewt {
    
    color:rgb(230, 230, 230);
}

.viewt, .view {
    text-shadow: 1px 1px rgb(68, 61, 114);
}

.navitem {
    width:20%;
    height:10vh;
    background-color: rgb(90, 77, 174);  /*90, 77, 174*/
    text-align: center;
    justify-content: center;
}
.navitem:hover {
    text-shadow: 1px 1px black;
    box-shadow: 1px 3px rgb(65, 49, 168);
    background-color: rgb(81, 69, 157); 
    cursor: pointer;
}
.navitem:active {
    text-shadow: 1px 1px black;
    box-shadow: 1px 3px rgb(65, 49, 168);
    background-color: rgb(73, 59, 158); 
    cursor: pointer;
}

.landingimg {
    width:29%;
}
.landingimg2 {
    width:36.9%;
}

.view {
    border:none;
    background-color:rgb(156, 148, 209);
    border-radius: 500px;
    font-size:1.4vw;
}
.viewt {
    width:90%;
    font-size:1.4vw;
}
.viewt .text {
    font-size: 1.5vw;
}
.viewb{
    width:10%;
}
.services {
    background-color: rgb(128, 117, 199);
    width:99%;
    height:40vh;
    text-align:left;
    display:flex;
    border-radius: 4px;
}
.view {
    margin-top:75%;
    margin-left:-175%;
    width:250%;
    height:25%;
}

.view:hover {
    cursor:pointer;
    box-shadow: 3px 3px rgb(92, 76, 200);
}

.view:active {
    margin-top:75%;
    margin-left:-172%;
    width:240%;
    height:24%;
}
.carousel {
    display:flex;
}

.carouselplace {
    display:flex;
}

#bl2{
    margin-left:65%;
}

#carousel {
    max-width:  39.2vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}  
.slide-indicators {
    display: flex;
    justify-content: center;
}
.slide-indicator {
    height: 3vw;
    width: 3.4vw;
    display: flex;
    justify-items: center;
    cursor: pointer;
}
.slide-indicator:after {
    content: "";
    background-color: #878787;
    height: 0.7vw;
    margin-top: 0.7vw;
    width: 2.5vw;
    border-radius: 500px;
}
.slide-indicator.active:after,
.slide-indicator:hover:after {
    background-color: #000000;
}
.slide-banner {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 15px;
    font-size: 2.5vw;
}
.slide-banner a {
    color: #ffffff;
}
#slide-container {
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.slide {
    scroll-snap-align: center;
    position: relative;
    min-width: 100%;
    padding-top: 50%;
}
.slide img {
    width: 39.3vw;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
}
.arrow {
    color: #ffffff;
    height: 20px;
    width: 20px;
    background-color: #000000;
    position: absolute;
    padding: 10px;
    opacity: .3;
    cursor: pointer;
}
.arrow.back {
    left: 10px;
    top: 10px;
}
.arrow.forward {
    right: 10px;
    top: 10px;
}
.arrow:hover {
    opacity: 1;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(237, 237, 237);
    display: flex;
}
.product {
    border: 1px solid #ccc;
    border-radius: 30px;
    min-width:35%;
    padding: 1%;
    margin: 1%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 20px rgb(68, 61, 114);
    }

.price {
    font-weight: bolder;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
ul{
    list-style-type: none;
}

.upperpart {
    margin-left:-3%;
    margin-top:-2.7%;
    width:106%;
    height:17%;
    margin-bottom:1%;
    background-color: red;
    border-radius: 30px 30px 0px 0px;
    background-color: rgb(128, 117, 199);
    color:rgb(237, 237, 237);
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
    text-shadow: 1px 1px rgb(68, 61, 114);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lowerpart {
    margin-left:-3%;
    width:107%;
    height:17%;
    background-color: red;
    border-radius: 0px 0px 30px 30px;
    background-color:rgb(128, 117, 199);
    color:rgb(237, 237, 237);
    padding-bottom: 2%;
    text-shadow: 1px 1px rgb(68, 61, 114);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3.price {
    text-align: center;
    margin-bottom:3%;
    color:rgb(237, 237, 237);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.addtcart {
    border:none;
    background-color: rgb(156, 148, 209);
    width:50%;
    height:50%;
    margin-top: -10%;
    border-radius: 500px;
    color:rgb(237, 237, 237);
    text-shadow: 1px 1px rgb(68, 61, 114);
    font-size: .9vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.addtcart:hover {
    cursor:pointer;
    box-shadow: 3px 3px rgb(68, 61, 114);
}

.addtcart:active {
    margin-top:-10%;
    width:47%;
    height:47%;
    font-size: .8vw;
}
a{
    color: rgb(237, 237, 237);;
}
#szolg{
    color: rgb(68, 61, 114);
}
#list{
    font-size:50px;
    font-weight: bold;
}
hr{
    background-color:rgb(68, 61, 114);
    height: 10px;
}
#Kristcim{
    font-size: 60px;
}
#mini{
    background-color:rgb(68, 61, 114);
    height: 2.5px;
}
#mega{
    background-color:rgb(68, 61, 114);
    height: 250px;
}
.cardbk:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardkm:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardnd:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardbk {
    box-shadow: 0 4px 8px 0 rgb(68, 61, 114);
    max-width: 300px;
    margin-left: auto;
    margin-top: -665px;
    text-align: left;
    background-color: rgb(156, 148, 209);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
  }
  .cardkm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-right: auto;
    text-align: left;
    background-color:rgb(156, 148, 209);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    transition: box-shadow 0.3s ease;
  }
  .cardnd {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin:auto;
    margin-top: -790px;
    text-align: left;
    background-color: rgb(156, 148, 209);
    border-radius:10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
  }
  
  .title {
    color: black;
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(237, 237, 237);
  }
  @media (max-width: 480px) {
    #Kristcim {
        font-size: 24px;
    }
    .text {
        font-size: 14px;
    }
}
